{
  "tabWidth": 2,
  "singleQuote": true,
  "endOfLine": "lf",
  "bracketSpacing": true,
  "trailingComma": "es5",
  "printWidth": 80,
  "arrowParens": "always",
  "proseWrap": "preserve",
  "htmlWhitespaceSensitivity": "css",
  "useTabs": false,
  "semi": true,
  "quoteProps": "consistent",
  "jsxBracketSameLine": true
}
